.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu-1 {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin-top: 30px;
}

.Menu-2 {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-decoration: none;  
  margin-bottom: 70px;
}

.logo {
  flex: 0 1 20vw;
  height: 15rem;
  display: flex;
  align-self: center;
}

.logo img {
  max-width: 100%;
  width: 500px;
}