.Login-Header {
    text-align: center;
    color: goldenrod;
    margin-bottom: 40px;
    font-size: 30px;
}

.Login-Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cancel-link {
    color: red;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
}